/* global styles */
:root {
    --teal: #48C9B0;
    --light: #fff;
    --grey: #515A5A;
}

.hide {
    visibility: hidden;
}

/* styles for the timer bar at the top */
header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: var(--teal);
    color: var(--light);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    margin-bottom: 50px;
}

.timer {
    font-size: 18px;
}

.score {
    font-size: 16px;
}

/* styles for the main container */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-evenly;
    padding: 20px;
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
}

.center {
display: flex;
justify-content: center;
}

/* styles for the start screen */
.start h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

.start p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#start {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: var(--teal);
    color: var(--light);
    text-align: center;
    padding: 5px 20px;
    border: none;
    border-radius: 8px;
    align-items: center;
}